<?xml version="1.0" encoding="utf-8" ?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="ZOHO Unit Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="AUTH_TOKEN" value="311f03eb31459aecf50d02e8c4f5aa55"/>
    </php>
</phpunit>